.Rproj.user
.Rhistory
.RData
.Ruserdata
outputs/*
*nohup.out
misc_scripts/*
*Rout
*fq
*bam
*sam
simulation_runs/riboviz/*ht2
simulation_runs/riboviz/*ebwt
simulation_runs/riboviz/*cutadapt
simulation_runs/riboviz/*bowtiestats
